
.header {
  display: flex;
  padding: 10px 20px;
  background-color: #ffffff;
  color: white;
  height: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 100px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}
