
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

.image-container {
  position: relative;
  width: 800px;
  height: 420px;
}
.main-img {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  max-width: none;
  height: 420px;
  border-radius: 20px;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.411);
}
.section1 {
  display: flex;
  height: 420px;
  background-color: #495e57;
}
.section2 {
  display: flex;
  height: auto;
  background-color: white;
  justify-content: center;
  align-items: center;
}
h1 {
  margin: 1em 5em 1em 1em;
  font-size: 60px;
}

.info {
  padding-left: 23%;
}
h2,
h3,
p {
  text-align: left;
  width: 400px;
}
h2 {
  color: #f4ce14;
  font-size: 46px;
}
button {
  padding: 20px 40px;
  border-radius: 40px;
  background-color: #f4ce14;
  font-weight: 800;
  border: none;
  font-family: "Karla";
  font-size: 18px;
  transition: transform 0.3s;
}
button:hover {
  transform: translateY(-5px);
}
.info2 {
  color: black;
}
.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: #f0f0f0;
}
.image-container2 {
  border: 1px solid #ccc;
  position: relative;
  max-width: 350px;
  height: auto;
}
.image {
  position: absolute;
  max-width: 300px;
  height: auto;
}

#chefs {
  position: relative;
  top: 40px;
  left: 100px;
  z-index: 2;
}

#resto {
  position: relative;
  top: -20px;
  left: -100px;
  z-index: 1;
}

@media (max-width: 1100px) {
  .button2 {
    padding: 0.5em 1em;
    font-size: 0.9em;
  }
  .section4 {
    padding: 20px;
  }
}
.image {
  position: absolute;
  max-width: 250px;
  height: auto;
}
#chefs {
  position: relative;
  top: 40px;
  left: 100px;
  z-index: 2;
}

#resto {
  position: relative;
  top: -20px;
  left: -100px;
  z-index: 1;
}
.card-text {
  font-size: 12px;
}
.section4 {
  flex-direction: column;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .main-img {
    display: none;
  }
  .image-container {
    display: none;
  }
  .section1 {
    flex-direction: column;
    height: auto;
    padding: 10px;
    justify-content: center;
  }
  .section4 {
    flex-direction: column;
    justify-content: space-around;
  }
  .image-container {
    width: 90%;
  }
  .image {
    width: 50%;
  }
  h1 {
    font-size: 6vw;
    margin: 1em;
  }
  h2 {
    font-size: 5vw;
  }
  .info {
    width: auto;
    padding-left: 10%;
    align-self: center;
    word-wrap: break-word;
  }
  .button-reserve {
    padding: 0.5em 1em;
    font-size: 0.9em;
  }
}
