
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  color: white;
  padding: 10px 20px;
  transition: top 0.3s;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav.hidden {
  top: -120px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 20px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.list-item a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
}

.list-item a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    width: 100%;
    display: none;
    position: absolute;
    top: 60px; /* Adjust based on your header height */
    left: 0;
    background-color: #ffffff;
    padding: 10px 0;
  }

  .nav-list.active {
    display: flex;
  }

  .list-item {
    width: 100%;
    text-align: center;
  }

  .list-item a {
    width: 100%;
    padding: 10px 20px;
  }

  .menu-toggle {
    display: flex;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
}
