.review-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 231px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2em;
  background-color: aliceblue;
}

.review-card:hover {
  transform: translateY(-5px);
}

.review-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 16px;
  object-fit: cover;
}

.review-content {
  width: 100px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-name {
  font-size: 1.25em;
  margin: 16px 0 8px 0;
  text-align: center;
}

.review-rating {
  font-size: 1em;
  color: #555;
  margin: 0 0 8px 0;
}

.review-text {
  font-size: 1em;
  color: #555;
  margin: 0;
  word-wrap: break-word;
  text-align: center;
}

.section3 {
  justify-content: center;
  height: 500px;
  background-color: #495e57;
}
.testimonials {
  font-family: "Markazi Text";
  justify-content: center;
  margin: 0;
  color: #f4ce14;
  padding-top: 40px;
}
.review-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 768px) {
  .review-card {
    width: 100%; 
    margin: 1em 0; 
  }

  .review-content {
    width: 100%;
    padding: 8px;
  }

  .review-image {
    width: 80px;
    height: 80px;
  }

  .section3 {
    height: auto;
    padding: 20px;
  }

  .testimonials {
    font-size: 1.5em;
    padding-top: 20px;
  }

  .review-container {
    flex-direction: column;
    align-items: center;
  }
}
